body {
  background-color: #212957;
}

main {
  background-color: #212957;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  color: #B8E0FF;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

h2 {
  color: #B8E0FF;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

p1 {
  color: #B8E0FF;
  font-family: monospace;
  font-size: 17px;
}

div1 {
  float: center;
  width: 50%;
  flex-basis: 100%;
}

div2 {
  float: left;
  width: 25%;
  flex-basis: 100%;
}

div3 {
  float: right;
  width: 25%;
  flex-basis: 100%;
}
